.sli {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.sli-container {
  display: flex;
}

.sli-time-location-container {
  color: rgb(75 75 75);
  font-weight: 600;
  font-size: 0.8em;
  text-align: start;
}

.sli-opponent-field-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  padding: 3px 5px 3px 5px;
  text-align: center;
}

.sli-badge-home {
  background-color: var(--primary-team-color) !important;
  color: #ffd700 !important;
}

.sli-badge-away {
  background-color: white !important;
  color: var(--primary-team-color) !important;
  border-color: var(--primary-team-color) !important;
  border-style: solid !important;
  border-width: thin;
}

.sli-location-text {
  text-align: center;
  line-height: 1em;
  padding: 5px 0 5px 0;
  margin: 8px 0 0 0;
  font-weight: 500;
  font-size: 0.8em;
}
.sli-location-text span{
  color: rgb(150,150,150) !important;
}


.sli-score-container {
  min-width: 65px;
  display: flex;
  color: rgb(125 125 125);
  font-size: 0.9em;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.sli-logo-container {
  min-width: 50px;
  display: flex;
  color: rgb(125 125 125);
  font-size: 0.9em;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.sli-opponent-text {
  font-Weight: 500;
  font-size: 0.9em;
  line-height: 1.1em;
}

.sli-opponent-text span {
  color: rgb(75, 75, 75);
}

.sli-opponent-text a {
  color: var(--primary-team-color) !important;
}

.sli-score-win {
  color: limegreen
}

.sli-score-loss {
  color: salmon !important;
}

.sli-card-container {
  padding: 12px 0 0 0;
}

.sli-action-container {
  display: flex;
  flex-direction: row;
}

.sli-action-container button {
  color: var(--primary-team-color);
  border-color: var(--primary-team-color);
  background-color: white !important;
}

.sli-action-container button:focus {
  color: var(--primary-team-color);
  border-color: var(--primary-team-color);
  background-color: white !important;
}

.sli-action-button-container {
  padding: 5px 10px 0 0;
}