

.gl-schedule-container {
  padding: 40px 12px 12px 12px;
  z-index: 100;
  background-color: #fff;
}


.gl-schedule-title-container {
  color: rgba(251, 214, 4, 1) !important;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
  font-size: medium;
}

.gl-schedule-link-title-container {
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
  font-size: small;
}

.gl-schedule-link-title-container a {
  color: var(--primary-team-color) !important;
}

.gl-schedule-list-container {
  padding-top: 15px;
}

.league-action-bar-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px 12px 12px 12px;
}

.league-action-bar-container button {
  color: var(--primary-team-color) !important;
  border-color: var(--primary-team-color) !important;
}