
.sli-badge-home {
  background-color: var(--primary-team-color) !important;
  color: #ffd700 !important;
}

.sli-badge-away {
  background-color: white !important;
  color: var(--primary-team-color) !important;
  border-color: var(--primary-team-color) !important;
  border-style: solid !important;
  border-width: thin;
}

.sli-location-text {
  text-align: center;
  line-height: 1em;
  padding: 5px 0 5px 0;
  margin: 8px 0 0 0;
  font-weight: 500;
  font-size: 0.8em;
}
.sli-location-text span{
  color: rgb(150,150,150) !important;
}


.sli-score-container {
  width: 75px;
  display: flex;
  color: rgb(125 125 125);
  font-size: 0.9em;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.sli-opponent-text {
  font-Weight: 500;
  font-size: 0.9em;
}

.sli-opponent-text span {
  color: rgb(75, 75, 75);
}

.sli-opponent-text a {
  color: var(--primary-team-color) !important;
}

.sli-score-win {
  color: limegreen
}

.sli-score-loss {
  color: salmon !important;
}