

.gl-schedule-container {
  padding: 12px;
  z-index: 100;
  background-color: #fff;
}

.gl-schedule-title-container {
  color: rgb(100, 100, 100);
  text-align: 'center';
  padding-top: 30px; 
  padding-bottom: 15px;
  font-weight: 700;
  text-align: center;
}