
.tli {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 5px;
  background-color: white;
}

.not-attending {
  background-color: rgb(175, 175, 175);
}

.tli button {
  background-color: white !important;
  color: var(--primary-team-color) !important;
  border-color: var(--primary-team-color) !important;
}

.tli-status-badge {
  margin-right: 8px;
  font-size: 0.6em;
}