
.achievements-page-container {
  height: 100%;
  background-color: #fff;
}

.achievement-section {
  /* color: rgb(100, 100, 100); */
  color: rgba(251, 214, 4, 1) !important;
  font-weight: 700;
  text-align: center;
  font-size: small;
}

.achievement-section-first {
  padding: 40px 12px 12px 12px;
}

.banners-container {
  padding: 12px 0 12px 0;
  display: flex;
  overflow-x: scroll;
}