a {
  color: var(--primary-team-color);
}

.gl-select {
  color: rgb(100 100 100);
  font-weight: 600;
}

.modal-header {
  background-color: var(--primary-team-color) !important;
  color: white;
}

.modal-footer button {
  background-color: var(--primary-team-color) !important;
  border-color: var(--primary-team-color) !important;
}

.form-check-input:checked{
  background-color: var(--primary-team-color) !important;
  border-color: var(--primary-team-color) !important;
}

.spinner-border {
  color: var(--primary-team-color) !important;
}

.gl-home {
  height: 100%;
  color: rgb(125 125 125);
  margin-top: 25px;
  padding: 12px;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.next-game-title-container {
  text-align: left;
}

.next-game-container {
  display: flex;
  padding: 0px;
  flex-direction: column;
  background-color: white;
}

.logo-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 12px;
}