/* a {
  color: var(--primary-team-color);
} */

.gl-select {
  color: rgb(100 100 100);
  font-weight: 600;
}

.modal-header {
  background-color: var(--primary-team-color) !important;
  color: white;
}

.modal-footer button {
  background-color: var(--primary-team-color) !important;
  border-color: var(--primary-team-color) !important;
}

.form-check-input:checked{
  background-color: var(--primary-team-color) !important;
  border-color: var(--primary-team-color) !important;
}

.spinner-border {
  color: var(--primary-team-color) !important;
}

.gl-home {
  color: rgb(125 125 125);
  z-index: 100;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 40px 12px 12px 0px;
}

.gl-next-game-title-container {
  color: rgba(251, 214, 4, 1) !important;
  /* color: rgb(100, 100, 100); */
  text-align: center;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: small;
  
}

.next-game-title-container {
  padding-top: 35px;
  text-align: left;
}

.next-game-container {
  display: flex;
  padding: 0px;
  flex-direction: column;
  background-color: white;
}

.logo-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}