
.navbar-light .nav-link {
  color: rgba(251, 214, 4, 1) !important;
}

.navbar-custom {
  background-color: var(--primary-team-color) !important;
  text-align: center;
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler i {
  color: rgba(251, 214, 4, 1) !important;
}

.navbar-logo-container {
  position: absolute;
  top: 0;
  left: calc(50vw - 75px);
  display: flex;
  justify-content: center;
}

.navbar-collapse hr {
  color: rgba(251, 214, 4, 1) !important;
}

.navbar-collapse i {
  color: rgba(251, 214, 4, 1) !important;
}

