
.tli {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}

.not-attending {
  background-color: rgb(175, 175, 175);
}

.tli button {
  background-color: #4f68b1 !important;
  border-color: #4f68b1 !important;
}

.tli-status-badge {
  margin-right: 8px;
  font-size: 0.6em;
}