

.top {
  position: relative;
}

.field {
  overflow: hidden;
  width: 100%;
  aspect-ratio: .625;
  border-color: rgb(50, 50, 50);
  border-style: solid;
  border-width: 2px;
}

.half {
  position: relative;
  flex-grow: 1;
  background-color: white;
  border-style: solid;
  border-color: rgb(50, 50, 50);
}

.half-top {
  border-width: 0 0 1px 0;
}

.half-bottom {
  border-width: 1px 0 0 0;
}

.six {
  position: absolute;
  left: 37.5%;
  height: 10%;
  width: 25%;
  border-color: rgb(50, 50, 50);
  border-style: solid;
  border-width: 2px;
}

.six-top {
  top: -2px;
}

.six-bottom {
  bottom: -2px;
}

.eighteen {
  position: absolute;
  height: 30%;
  width: 50%;
  left: 25%;
  border-color: rgb(50, 50, 50);
  border-style: solid;
  border-width: 2px;
  background-color: white;
}

.eighteen-top {
  top: -2px;
}

.eighteen-bottom {
  bottom: -2px;
}

.arc{
  position: absolute;
  background-color: transparent;
  width: 25%;
  aspect-ratio: 1;
  left: 37.5%;
  border-color: rgb(50, 50, 50);
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

.arc-top {
  top: 5%;
}

.arc-bottom {
  bottom: 5%;
}


.corner {
  position: absolute;
  margin-left: -2.5%;
  margin-top: -2.5%;
  width: 5%;
  aspect-ratio: 1;
  border-color: rgb(50, 50, 50);
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

.corner-top-left {
  /* emtpy */
}

.corner-top-right {
  left: 100%;
}

.corner-bottom-left {
  top: 100%;
}

.corner-bottom-right {
  left: 100%;
  top: 100%;
}

.center-circle {
  position: absolute;
  width: 30%;
  aspect-ratio: 1;
  left: 35%;
  top: 40.5%;
  border-color: rgb(50, 50, 50);
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}