
:root {
  height: 100%;
  /* --primary-team-color: #4f68b1; */
  --primary-team-color: red;
}

.App {
  height: 100%;
  text-align: center;
}

.app-page-container {
  flex-grow: 1;
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #fff;
}


